{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [test]}
]}.

{project_plugins, [rebar3_ex_doc]}.

{compiler_error_format, rich}.

{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_url, "https://github.com/gabrielegenovese/chorer"}
]}.

{plugins, [rebar3_auto]}.
