{erl_opts, [debug_info]}.

{deps, []}.

{package, [
    {name, chorer},
    {description, "A library for analyzing Erlang code and building graphs"},
    {licenses, ["GPL-3.0"]},
    {links, [{"GitHub", "https://github.com/gabrielegenovese/chorer"}]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_url, "https://github.com/gabrielegenovese/chorer"}
]}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.
